<h1>Listing customer_cupcakes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Flavor</th>
    <th>Icing</th>
    <th>Additional topping</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer_cupcakes.each do |customer_cupcake| %>
  <tr>
    <td><%= customer_cupcake.name %></td>
    <td><%= customer_cupcake.size %></td>
    <td><%= customer_cupcake.flavor %></td>
    <td><%= customer_cupcake.icing %></td>
    <td><%= customer_cupcake.additional_topping %></td>
    <td><%= link_to 'Show', customer_cupcake %></td>
    <td><%= link_to 'Edit', edit_customer_cupcake_path(customer_cupcake) %></td>
    <td><%= link_to 'Destroy', customer_cupcake, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer cupcake', new_customer_cupcake_path %>
